name: Lint and Test Charts

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  HELM_VERSION: 4.0.4
  PYTHON_VERSION: 3.9

jobs:
  lint-chart:
    name: Lint chart
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1
        with:
          version: "${{ env.HELM_VERSION }}"

      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "${{ env.PYTHON_VERSION }}"

      - name: Run Helm lint
        run: helm lint charts/*

      - name: Set up chart-testing
        uses: helm/chart-testing-action@6ec842c01de15ebb84c8627d2744a0c2f2755c9f # v2.8.0

      - name: Run chart-testing (lint)
        run: ct lint --config .github/config/chart-testing.yaml

  test-install-chart:
    name: Test chart installation on K8s
    runs-on: ubuntu-latest
    needs:
      - lint-chart
    strategy:
      matrix:
        # see https://kubernetes.io/releases/patch-releases/#support-period
        k8s:
          - v1.25.9
          - v1.26.4
          - v1.27.2
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1
        with:
          version: "${{ env.HELM_VERSION }}"

      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "${{ env.PYTHON_VERSION }}"

      - name: Create kind ${{ matrix.k8s }} cluster
        uses: helm/kind-action@92086f6be054225fa813e0a4b13787fc9088faab # v1.13.0
        with:
          node_image: kindest/node:${{ matrix.k8s }}

      - name: Check K8s nodes
        run: |
          kubectl get nodes;

      - name: Run Chart Testing install
        uses: helm/chart-testing-action@6ec842c01de15ebb84c8627d2744a0c2f2755c9f # v2.8.0
        with:
          command: install
          config: .github/config/chart-testing.yaml
